<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">Add Bread</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      	<div class="row">
      		<label for="breadName" class="col-sm-2 col-form-label" >Name</label>
      		<input class="form-control" id="breadName" ng-model="model.breadName" type="text" placeholder="Bread Name">
      	</div>
        <div class="row">
      		<label for="price" class="col-sm-2 col-form-label">Price</label>
      		<input class="form-control" id="price" ng-model="model.price" type="number" placeholder="Price">
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="save()">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
      </div>
    </div>

  </div>
</div>