				
				
				<table id="amTable" class="table table-bordred table-striped">

					<thead>

						<th>Particular</th>
						<th>Price</th>
						<th>Beginning Inventory</th>
						<th>Production</th>
						<th>Ending Inventory</th>
						<th>TGAFS</th>
						<th>Sales</th>
						<th>Amount</th>


					</thead>
					<tbody>
	
						<tr ng-repeat="item in head.list | orderBy:'order'">
							<td>{{item.templateDetail.breadName}}</td>
							<td>{{item.templateDetail.price | number:2}}</td>
							<td>
							<input id="txt_{{item.category}}_{{$index}}" type="text" number-input class="number form-control" 
								ng-model="item.beginningInv"></td>
							<td>
							<input id="txt_{{item.category}}_{{head.list.length+$index}}" number-input type="text" class="number form-control" 
								ng-model="item.production">
							</td>
							<td>
							<input id="txt_{{item.category}}_{{(head.list.length*2)+$index}}" number-input type="text" class="number form-control" 
								ng-model="item.endingInv">
							</td>
							<td>{{item.tgafs=item.production+item.beginningInv | number}}</td>
							<td>{{item.sales=item.tgafs-item.endingInv | number}}</td>
							<td>{{item.amount=item.sales*item.templateDetail.price | number:2}}</td>
						</tr>

					</tbody>
				</table>

				<table align="right">
					<tr>
						<td>Total:</td>
						<td style="text-align: right;">{{head.total=getTotal()|number:2}}</td>
					</tr>
					<tr>
						<td>Expenses:</td>
						<td><input id="txt_{{head.category}}_{{head.list.length*3}}" type="text" style="text-align: right;" number-input tabindex=15 class="number form-control" ng-model="head.expenses"></td>
					</tr>
					<tr>
						<td>Grand Total:</td>
						<td style="text-align: right;">{{head.grandTotal=head.total-head.expenses|number:2}}</td>
					</tr>
					<tr>
						<td>Cash Remittance:</td>
						<td><input id="txt_{{head.category}}_{{(head.list.length*3)+1}}" type="text" style="text-align: right;" number-input tabindex=20 class="number form-control" ng-model="head.remittance"></td>
					</tr>
					<tr>
						<td>Difference:</td>
						<td style="text-align: right;">{{head.difference=head.remittance-head.grandTotal|number:2}}</td>
					</tr>
				</table>
	