
<div class="container" ng-controller="breadListCtrl">
	<toast utility="toastUtil"></toast>
	<div class="row">
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col">
			<a href="#" onclick="return false" data-toggle="modal"
				data-target="#myModal"> <img src="../secure/img/add.png"> Add
			</a>

		</div>
	</div>
	<div class="row">


		<div class="col-md-12">
			<h3>Item List</h3>
			<div class="table-responsive">


				<table id="mytable" class="table table-bordred table-striped"
					ng-if="listSize()!==0">

					<thead>

						<th>Name</th>
						<th>Price</th>
						<th>Edit</th>

						<th>Delete</th>
					</thead>
					<tbody>

						<tr ng-repeat="bread in breadList">
							<td>{{bread.breadName}}</td>
							<td>{{bread.price|number:2}}</td>
							<td><img style="width: 25px; height: 25px;"
								src="../secure/img/si-glyph-pencil.svg" onclick="return false" data-toggle="modal" data-target="#myModal" ng-click="edit(bread)"/></td>
							<td><img style="width: 25px; height: 25px;" ng-click="delete(bread)"
								src="../secure/img/si-glyph-trash.svg" /></td>
						</tr>

					</tbody>

				</table>

				<div class="clearfix"></div>


			</div>

		</div>

	</div>
	<div ng-if="listSize()===0">No items to show</div>
	<add-edit-bread model="breadModel" save="modalSave()" ></add-edit-bread>


</div>