<style>
.md-datepicker-input-container {
  opacity: 0;
}
.md-datepicker-input-mask-opaque {
  background: white;
}
</style>

<div class="container" ng-controller="dailyDetailsCtrl">
	<toast utility="toastUtility"></toast>
<!-- 	<div> -->
<!-- 		*try to input letters on number fields -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		*whole number field and floating number field should have separate behaviors -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		*when comma activates then you unfocus then u focus again but this time, select only the last part where you want to type -->
<!-- 	</div> -->
<!-- 	<div> -->
<!-- 		*the value of the ngModel accepts the comma which invalidates the computation. refer to this -->
<!-- 		https://stackoverflow.com/questions/19969740/how-to-intercept-value-binding-by-ng-model-directive -->
<!-- 		it intercepts the ngModel before binding -->
<!-- 	</div> -->
	<div class="row" ng-if="header">
		<h3>{{header.date|date:'MMMM dd, yyyy'}}</h3>
		<md-datepicker ng-model="header.date"></md-datepicker>
	</div>
	
	<md-tabs md-dynamic-height="true">
	  <md-tab label="A">
	  	<md-tab-label>
	  		<h3>AM</h3>
	  	</md-tab-label>
	  	<md-tab-body>
	  		<detail-table  head="amHeader" ></detail-table>
	  	</md-tab-body>
	  	 
	  </md-tab>
	  <md-tab >
	  	<md-tab-label>
	  		<h3>PM</h3>
	  	</md-tab-label>
	  	<md-tab-body>
	  		<detail-table  head="pmHeader"></detail-table>
	  	</md-tab-body>
	  	
	  </md-tab>
	</md-tabs>
	
	<div class="row">
		<div class="col">&nbsp</div>
	</div>
	
	<div class="row " style="float: right;">
		<button ng-click="save()">Save</button>
	</div>
	

</div>
