<div class="container" ng-controller="dailyDetailsCtrl">
	<toast utility="toastUtility"></toast>
	<div class="row" ng-if="header">
		<h3>{{date|date:'MMMM dd, yyyy'}}</h3>
	</div>
	<div id="tabs" class="row" ng-if="header">
		<div>
			<ul>
				<li><a href="#am">AM</a></li>
				<li><a href="#pm" ng-click="tabChange(amHeader)">PM</a></li>

			</ul>

			<div id="am">
				<h3 align="right">AM</h3>
				<detail-table  head="amHeader" ></detail-table>

			</div>
			<div id="pm">
				<h3 align="right">PM</h3>
				<detail-table  head="pmHeader"></detail-table>
			</div>
		</div>


	</div>
	<div class="row">
		<div class="col">&nbsp</div>
	</div>
	
	<div class="row " style="float: right;">
		<button ng-click="save()">Save</button>
	</div>
	

</div>
