<!-- <div class="container"> -->
<!-- 	<div class="row" style="border-style: solid;"> -->
<!-- 		hello -->
<!-- 	</div> -->
<!-- 	<div class="row" style="border-style: solid;"> -->
<!-- 		hi -->
<!-- 	</div> -->
<!-- </div> -->

<div class="container" ng-controller="dailyDetailsCtrl">
	<div class="row">Date</div>
	<div id="tabs" class="row">
		<div>
			<ul>
				<li><a href="#am">AM</a></li>
				<li><a href="#pm">PM</a></li>

			</ul>

			<div id="am">
				<h3 align="right">AM</h3>
				<table id="amTable" class="table table-bordred table-striped">

					<thead>

						<th>Particular</th>
						<th>Price</th>
						<th>Beginning Inventory</th>
						<th>Production</th>
						<th>Ending Inventory</th>
						<th>TGAFS</th>
						<th>Sales</th>
						<th>Amount</th>


					</thead>
					<tbody>

						<tr ng-repeat="item in amList">
							<td>{{item.breadName}}</td>
							<td>{{item.price}}</td>
							<td><input type="text" class="form-control"
								ng-model="item.beginningInv"></td>
							<td><input type="text" class="form-control"
								ng-model="item.production"></td>
							<td><input type="text" class="form-control"
								ng-model="item.endingInv"></td>
							<td>{{item.tgafs=item.production-item.beginningInv}}</td>
							<td>{{item.sales=item.tgafs-item.endingInv}}</td>
							<td>{{item.amount=item.sales*item.price}}</td>
						</tr>

					</tbody>
				</table>

				<table align="right" >
					<tr>
						<td>Total:</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Expenses:</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Grand Total:</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Cash Remittance:</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Difference:</td>
						<td>0.00</td>
					</tr>
				</table>

			</div>
			<div id="pm">
				<h3 align="right">PM</h3>
				<table id="amTable" class="table table-bordred table-striped">

					<thead>

						<th>Particular</th>
						<th>Price</th>
						<th>Beginning Inventory</th>
						<th>Production</th>
						<th>Ending Inventory</th>
						<th>TGAFS</th>
						<th>Sales</th>
						<th>Amount</th>


					</thead>
					<tbody>

						<tr ng-repeat="item in amList">
							<td>{{item.breadName}}</td>
							<td>{{item.price}}</td>
							<td><input type="text" class="form-control"
								ng-model="item.beginningInv"></td>
							<td><input type="text" class="form-control"
								ng-model="item.production"></td>
							<td><input type="text" class="form-control"
								ng-model="item.endingInv"></td>
							<td>{{item.tgafs=item.production-item.beginningInv}}</td>
							<td>{{item.sales=item.tgafs-item.endingInv}}</td>
							<td>{{item.amount=item.sales*item.price}}</td>
						</tr>

					</tbody>
				</table>

				<table align="right">
					<tr>
						<td>Total</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Expenses</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Grand Total</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Cash Remittance</td>
						<td>0.00</td>
					</tr>
					<tr>
						<td>Difference</td>
						<td>0.00</td>
					</tr>
				</table>
			</div>
		</div>


	</div>

</div>
