
<div class="container" ng-controller="templateListCtrl">
	<toast utility="toastUtility"></toast>
	<div class="row">
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col">
			<a href="#!templatedetails/0" > <img src="../secure/img/add.png"> Add
			</a>

		</div>
	</div>
	<div class="row">


		<div class="col-md-12">
			<h3>Templates</h3>
			<div class="table-responsive">


				<table id="mytable" class="table table-bordred table-striped" ng-if="listSize()!==0">

					<thead>

						<th>Name</th>

						<th>Edit</th>

						<th>Delete</th>
						<th>Active</th>
					</thead>
					<tbody>

						<tr ng-repeat="template in templates">
							<td>{{template.name}}</td>

							<td><a ng-href="#!templatedetails/{{template.id}}"> <img
									style="width: 25px; height: 25px;"
									src="../secure/img/si-glyph-pencil.svg" />
							</a></td>
							<td><a href="#templatedetails" onclick="return false" ng-click="delete(template)">
									<img style="width: 25px; height: 25px;"
									src="../secure/img/si-glyph-trash.svg" />
							</a></td>
							<td>{{template.active==true?'YES':''}}</td>
						</tr>

					</tbody>

				</table>

				<div class="clearfix"></div>


			</div>

		</div>

	</div>
	<div ng-if="listSize()===0">No items to show</div>
	

</div>